{% extends "Menus/MenuEspaceApp.html" %}
{% block content %}
{% load static %}
<div class="container mt-5">
   <div class="row">
      <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 m-3 align-items-center ">
      </div>

      <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 m-6 align-items-center">
           <center class="titre-principal"><h2>Créer une réunion</h2></center>
         <hr class="thick-hr">
      </div>
   </div>

  <form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div>
        {% for error in form.non_field_errors %}
          <p>error</p>
        {% endfor %}
      </div>
    {% endif %}
     <form method="POST" enctype="multipart/form-data" class="p-4 shadow rounded bg-light">

            {% csrf_token %}

            <div class="mb-1">
              <b><label for="id_Nom" class="form-label">GROUPE :</label></b>
                <p>
                  <select class="form-control" name="groupetudeid" id="groupetudeid">
                    <option >--- Selectionnez un Groupe Etude ---</option>
                     {% for group in groups %}
                         <option value="{{group.id}}">{{ group.Groupe }}</option>
                     {% endfor %}
                 </select>
                </p>
            </div>
            <div class="mb-1">
              <b><label for="id_Prenom" class="form-label">Titre :</label></b>
              <p>
                <input type="text" name="Titre" class="form-control" placeholder="Votre Titre ..." required>
              </p>
            </div>

             <div class="mb-1">
              <b><label for="id_Prenom" class="form-label">Description  :</label></b>
                <textarea id="Description" class="form-control" name="Description" rows="4" cols="50" placeholder="Votre Description ..." maxlength="500"></textarea>
             </div>

             <div class="mb-1">
              <b><label  class="form-label">Date et heure de début : :</label></b>
              <input type="datetime-local" name="Datedebut" class="form-control"   required>
            </div>
             <div class="mb-1">
              <b><label  class="form-label">Date et heure de fin : :</label></b>
              <input type="datetime-local" name="Datefin" class="form-control"   required>
            </div>
            <div class="mb-1">
              <b><label  class="form-label">Meet link :</label></b>
              <input type="url" class="form-control" placeholder="Votre lien meeting"   name="lien"  required>
            </div>
           <div class="mb-1">
              <b><label  class="form-label">ID Admin :</label></b>
              <input type="" class="form-control" value="{{request.user.id}}"   name="userid"  readonly>
           </div>

          <hr class="thick-hr">
    <button type="submit" class="btn btn-primary">Créer la réunion</button>
         <a href="{% url 'liste_reunionsEtude' %}" class="btn btn-secondary">Retour</a>
  </form>
</div>


{% if reunion.meet_link %}
    <p><strong>Lien Google Meet :</strong> <a href="{{ reunionEtude.meet_link }}" target="_blank">Rejoindre</a></p>
{% endif %}
<hr>

<div class="d-flex justify-content-between align-items-center mb-3">
    <a href="{% url 'liste_reunionsEtude' %}">Liste des Réunions</a>
  </div>

{% endblock %}